
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_LayoutDpanel.cshtml";
}

<div class="_widgetRow">
    <div class="WidgetBox">
        <div class="iconSec">
            <span class="material-icons">
                supervisor_account
            </span>
        </div>
        <div class="infoBox">
            <h2>Appointment</h2>
            <p> @ViewBag.count2</p>
        </div>
        <div class="dayInfo">
            <p>Todays Info</p>
        </div>
    </div>

    <div class="WidgetBox">
        <div class="iconSec">
            <span class="material-icons">
                supervisor_account
            </span>
        </div>
        <div class="infoBox">
            <h2>Appointment</h2>
            <p> @ViewBag.count</p>
        </div>
        <div class="dayInfo">
            <p>Todays Info</p>
        </div>
    </div>
    <div class="WidgetBox">
        <div class="iconSec">
            <span class="material-icons">
                supervisor_account
            </span>
        </div>
        <div class="infoBox">
            <h2>Appointment</h2>
            <p>15</p>
        </div>
        <div class="dayInfo">
            <p>Todays Info</p>
        </div>
    </div>


</div>

<!-- -->
<div class="AppointmentLsit">

</div>

