
@{
    Layout = null;
}
@{
    <link rel="stylesheet" href="~/Context/css/login.css">
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>login</title>
</head>
<body>
    <div class="form-style-8">
        <h2>Login  </h2>
        @using (Html.BeginForm("login", "DPanel", FormMethod.Post))
        {
            <input type="email" name="Email" placeholder="Email" />
            <input type="text" name="Passward" placeholder="Passwoard" />

            <input type="submit" value="Login" />
        }
        <h1> </h1>
    </div>
</body>
</html>
