
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_LayoutHome.cshtml";
}


<!--/RI// Home Banner \\FAT\-->
<div class="_Home_banner">
    <div class="banner_container" id="container_banner">
        <h3 class="fadeInUp"> Find A Doctor !</h3>
        <p class="">Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p>
        <div class="Custom_Search_input">
            <div class="_input">
                <input type="text" name="" class=" search-query" placeholder="Ex. Name, Specialization ....">
                <input type="submit" class="btn_search" value="Search">
            </div>

        </div>
    </div>
</div>
<!--/RI//\\FAT\-->
<!--/RI//Discover Section \\FAT\-->
<div class="_Discover_container" id="_Container_Discover">
    <div class="_Text_Title">
        <h2>Discover the <strong>online</strong> appointment!</h2>
        <p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie. Sed ad debet scaevola, ne mel.</p>
    </div>
    <div class="_Row_discover">
        <div class="col-lg-4">
            <div class="box_feat" id="icon_1">
                <span></span>
                <h3>Find a Doctor</h3>
                <p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box_feat" id="icon_1">
                <span></span>
                <h3>VIEW PROFILE</h3>
                <p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box_feat" id="icon_1">
                <h3>BOOK A VISIT</h3>
                <p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie.</p>
            </div>
        </div>
    </div>
</div>
<!--/RI//\\FAT\-->
<div class="_SPECIALIZATION_section" id="SPECIALIZATION">
    <div class="Specialization_wrapper">
        <div class="main_title">
            <h2>Find by specialization</h2>
            <p>
                Nec graeci sadipscing disputationi ne, mea ea nonumes percipitur.
                Nonumy ponderum oporteat cu mel, pro movet cetero at.
            </p>
        </div>
        <div class="_main_Content">
            <div class="catagory">
                <div class="logo">
                    <img src="~/Images/LogoMakr_5re4Cm.png" alt="">
                </div>
                <h3>cardio</h3>
            </div>
            <div class="catagory">
                <div class="logo">
                    <img src="~/Images/LogoMakr_00ejNQ.png" alt="">
                </div>
            </div>
            <div class="catagory">
                <div class="logo">
                    <img src="~/Images/LogoMakr_8lyS60.png" alt="">
                </div>
            </div>
            <div class="catagory">
                <div class="logo">
                    <img src="~/Images/LogoMakr_9hkNxO.png" alt="">
                </div>
            </div>
            <div class="catagory">
                <div class="logo">
                    <img src="~/Images/LogoMakr_00ejNQ.png" alt="">
                </div>
            </div>
            <div class="catagory">
                <div class="logo">
                    <img src="~/Images/LogoMakr_3zd7ne.png" alt="">
                </div>
            </div>
            <div class="catagory">
                <div class="logo">
                    <img src="~/Images/LogoMakr_5re4Cm.png" alt="">
                </div>
            </div>
            <div class="catagory">
                <div class="logo">
                    <img src="~/Images/LogoMakr_4tyOsn.png" alt="">
                </div>
            </div>

        </div>
    </div>
</div> <!--/RI//\\FAT\-->  <!--/RI//\\FAT\-->
<!--/RI//\\FAT\-->  <!--Doctor Sector -->
<div class="_Doctor_sec">
    <div class="_Doctor_wrapper">
        <div class="_Doctor_title">
            <h2>MEET OUR SPECIALISTS</h2>
        </div>
        <div class="_Doctor_Content">

            <div class="doctorCard">
                <!--/RI//\\FAT\-->
                <div class="info_header">
                    <h2>Rifatur Rahman</h2>
                    <p>Surgery Specialist</p>
                </div>
                <div class="DImage">
                    <img src="~/Images/team-medium-img3.jpg" alt="">
                </div>
                <div class="details_info">
                    <div class="_info">
                        <div class="_info_text">
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, dolor libero unde adipisci consequuntur accusantium laborum nobis quibusdam distinctio at sit, quo error? Ullam,</p>
                        </div>
                        <div class="info_link"></div>
                        <div class="info_button">
                            <a href=""><span>Read More</span></a>
                        </div>
                    </div>
                </div>

            </div><!--/RI//\\FAT\-->
            <div class="doctorCard">
                <div class="info_header">
                    <h2>Rifatur Rahman</h2>
                    <p>Surgery Specialist</p>
                </div>
                <div class="DImage">
                    <img src="~/Images/team-medium-img4 (1).jpg" alt="">
                </div>
                <div class="details_info">
                    <div class="_info">
                        <div class="_info_text">
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, dolor libero unde adipisci consequuntur accusantium laborum nobis quibusdam distinctio at sit, quo error? Ullam,</p>
                        </div>
                        <div class="info_link"></div>
                        <div class="info_button">
                            <a href=""><span>Read More</span></a>
                        </div>
                    </div>
                </div>
            </div><!--/RI//\\FAT\-->
            <div class="doctorCard">
                <div class="info_header">
                    <h2>Rifatur Rahman</h2>
                    <p>Surgery Specialist</p>
                </div>
                <div class="DImage">
                    <img src="~/Images/team-medium-img1.jpg" alt="">
                </div>
                <div class="details_info">
                    <div class="_info">
                        <div class="_info_text">
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, dolor libero unde adipisci consequuntur accusantium laborum nobis quibusdam distinctio at sit, quo error? Ullam,</p>
                        </div>
                        <div class="info_link"></div>
                        <div class="info_button">
                            <a href=""><span>Read More</span></a>
                        </div>
                    </div>
                </div>
            </div><!--/RI//\\FAT\-->
            <div class="doctorCard">
                <div class="info_header">
                    <h2>Rifatur Rahman</h2>
                    <p>Surgery Specialist</p>
                </div>
                <div class="DImage">
                    <img src="~/Images/team-medium-img6.jpg" alt="">
                </div>
                <div class="details_info">
                    <div class="_info">
                        <div class="_info_text">
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, dolor libero unde adipisci consequuntur accusantium laborum nobis quibusdam distinctio at sit, quo error? Ullam,</p>
                        </div>
                        <div class="info_link"></div>
                        <div class="info_button">
                            <a href=""><span>Read More</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--/RI//\\FAT\-->
        </div>
    </div>


</div> <!--/RI//\\FAT\-->  <!--/RI//\\FAT\-->

<div class="promo_banner">

</div>
<div class="testimonials_section TESTIMONIALS">
    <div class="testimonials">
        <div class="_testimonials_wrapper">
            <div class="_testimonials_title">
                <h2>CLIENT TESTIMONIALS</h2>
            </div>
            <div class="_testimonials_content">
                <div class="_testimonials_card">
                    <div class="_pataientImg"></div>
                    <div class="_titleSec">
                        <h3>
                            Rifatur Rahman</h2>
                            <p>Heart Patient</p>
                    </div>
                    <div class="cmt">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo hic quia deserunt pariatur maxime! Odit, qui, consectetur deserunt fuga laboriosam maiores,
                            ea eius saepe voluptates beatae accusantium quisquam delectus ad?
                        </p>
                    </div>
                </div>
                <div class="_testimonials_card">
                    <div class="_testimonials_card">
                        <div class="_pataientImg"></div>
                        <div class="_titleSec">
                            <h3>
                                Rifatur Rahman</h2>
                                <p>Heart Patient</p>
                        </div>
                        <div class="cmt">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo hic quia deserunt pariatur maxime! Odit, qui, consectetur deserunt fuga laboriosam maiores,
                                ea eius saepe voluptates beatae accusantium quisquam delectus ad?
                            </p>
                        </div>
                    </div>
                </div>
                <div class="_testimonials_card">
                    <div class="_testimonials_card">
                        <div class="_pataientImg"></div>
                        <div class="_titleSec">
                            <h3>
                                Rifatur Rahman</h2>
                                <p>Heart Patient</p>
                        </div>
                        <div class="cmt">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo hic quia deserunt pariatur maxime! Odit, qui, consectetur deserunt fuga laboriosam maiores,
                                ea eius saepe voluptates beatae accusantium quisquam delectus ad?
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
