
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Layout/_LayoutUser.cshtml";
}

<!-- Promotion -->
<div class="Promotion">
    <div class="promoCard">
        <img src="~/Images/promo2 (3).PNG" alt="">
        <h2>Family Health </br> Checkup</h2>
        <span class="Offer"> 40%</span>
        <h3>OFF</h3>
        <div class="booking"><a href="">Book Now</a></div>
    </div>

    <div class="promoCard2">
        <img src="~/Images/promo2 (1).PNG" alt="">
        <h2>Summer Health </br> Checkup</h2>
        <span class="Offer2"> 30%</span>
        <h3>OFF</h3>
        <div class="booking2"><a href="">Book Now</a></div>
    </div>
</div>
<!--  End Promotion-->
